# setting
/src/setting.js
/src/setting.local.dist.js
/src/setting.local.js
/src/locale/lang
/src/locale/lang/de.js
/scr/locale/lang/en.js
/src/locale/lang/fr.js
/src/local/lang/zh_CN.js

./src/setting.js
./src/setting.local.dist.js
./src/setting.local.js
./src/locale/lang
./src/locale/lang/de.js
./scr/locale/lang/en.js
./src/locale/lang/fr.js
./src/locale/lang/zh_CN.js

src/setting.js
src/setting.local.dist.js
src/setting.local.js
src/locale/lang
src/locale/lang/de.js
scr/locale/lang/en.js
src/locale/lang/fr.js
src/locale/lang/zh_CN.js
