.dtable-plugin.plugin-timeline {
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 100%;
  min-height: 0;
  background-color: #fff;
  border-radius: 12px 12px 0 0;
  box-shadow: 0 -1px 12px rgba(0, 0, 0, 0.3);
}

/* plugin-header */
.plugin-timeline .plugin-header {
  display: flex;
  align-items: center;
  height: 48px;
  padding: 0 16px;
  background-color: #fff;
  border-bottom: 1px solid #e7eaec;
  border-radius: 12px 12px 0 0;
}

.plugin-timeline .plugin-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 80px 0 0;
}

.plugin-timeline .plugin-logo .plugin-logo-icon {
  width: 20px;
  height: 20px;
  margin-right: 4px;
}

.plugin-timeline .plugin-header .timeline-operators {
  margin-left: 80px;
}

.plugin-timeline .plugin-header .timeline-operator,
.plugin-timeline .dtable-icon-x {
  display: inline-block;
  width: 24px;
  height: 24px;
  color: #000;
  opacity: .5;
  text-align: center;
  cursor: pointer;
}

.plugin-timeline .plugin-header .timeline-operator:hover {
  opacity: .75;
}

.plugin-timeline .plugin-header .btn-export-image,
.plugin-timeline .plugin-header .btn-settings {
  margin-right: .25rem;
}

.plugin-timeline .dtable-icon-x {
  font-weight: 700;
}

/* timeline-views-tabs */
.plugin-timeline .timeline-views-tabs {
  display: flex;
  flex: 1;
  height: 100%;
  font-size: 14px;
  font-weight: 500;
  overflow: hidden;
}

.plugin-timeline .views-tabs-scroll {
  overflow-x: scroll;
  overflow-y: hidden;
}

.plugin-timeline .views-tabs-scroll::-webkit-scrollbar {
  display: none;
  width: 0;
  height: 0;
}

.plugin-timeline .view-item {
  height: 100%;
  padding: 0 16px;
  flex: 1 0 auto;
  -webkit-user-select: none;
  user-select: none;
  cursor: grab;
  position: relative;
}

.plugin-timeline .view-item-can-drop-before::before,
.plugin-timeline .view-item-can-drop-after::after {
  content: '';
  border: 1px solid #555;
  border-radius: 1px;
  position: absolute;
  top: 4px;
  bottom: 4px;
}

.plugin-timeline .view-item-can-drop-before::before {
  left: 0;
}

.plugin-timeline .view-item-can-drop-after::after {
  right: -2px;
}

.plugin-timeline .view-item .view-item-content {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-bottom: 2px solid transparent;
  color: #999;
}

.plugin-timeline .view-item .view-item-content:hover {
  border-color: #3b88fd;
  color: #212529;
  cursor: pointer;
}

.plugin-timeline .view-item.active .view-item-content {
  border-color: #3b88fd;
  color: #212529;
  cursor: default;
}

.plugin-timeline .btn-view-dropdown {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  margin-left: 5px;
  margin-right: -5px;
  line-height: 20px;
  cursor: pointer;
}

.plugin-timeline .btn-view-dropdown .dtable-icon-drop-down {
  display: inline-block;
  height: 18px;
  font-size: 12px;
  color: #949494;
  transform: scale(.8);
  transition: all .1s;
}

.plugin-timeline .btn-view-dropdown:hover .dtable-icon-drop-down {
  color: #aaa;
}

.plugin-timeline .views-scroll-control {
  display: flex;
  align-items: center;
  padding: 0 .25rem;
}

.plugin-timeline .scroll-control-btn {
  cursor: default;
}

.plugin-timeline .scroll-control-btn:first-child {
  margin-right: .1rem;
}

.plugin-timeline .scroll-active {
  cursor: pointer;
}

.plugin-timeline .btn-scroll-icon {
  color: #c2c2c2;
  font-size: 12px;
  line-height: 24px;
}

.plugin-timeline .scroll-active .btn-scroll-icon {
  color: #8c8c8c;
}

.plugin-timeline .scroll-active:hover .btn-scroll-icon {
  color: #000;
  opacity: .75;
}

.plugin-timeline .btn-add-view {
  display: flex;
  align-items: center;
  width: 24px;
  height: 100%;
}

.plugin-timeline .btn-add-view .dtable-icon-add-table {
  height: 24px;
  width: 24px;
  text-align: center;
  cursor: pointer;
  color: #000;
  opacity: .5;
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
}

.plugin-timeline .btn-add-view .dtable-icon-add-table:hover {
  opacity: .75;
}

/* timeline-container */
.timeline-container {
  position: relative;
  flex: 1;
  min-height: 0;
}

/* timeline-toolbar */
.timeline-toolbar {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.timeline-toolbar .toolbar-left,
.timeline-toolbar .toolbar-right {
  position: absolute;
  display: flex;
  align-items: center;
  top: 0;
  padding: 6px;
  background-color: #fff;
}

.timeline-toolbar .toolbar-left {
  min-width: 40px;
  left: 0;
}

.timeline-toolbar .toolbar-right {
  right: 0;
  height: 36px;
}

.timeline-toolbar .toggle-drawer-btn {
  height: 24px;
  width: 28px;
  text-align: center;
  cursor: pointer;
  color: #000;
  opacity: .5;
  font-weight: 700;
 }

.timeline-toolbar .current-date {
  display: flex;
  align-items: center;
  font-size: 16px;
}

.timeline-toolbar .dropdown-menu {
  min-width: 80px;
}

.timeline-toolbar .btn-select-view {
  height: 26px;
  margin-right: 5px;
}

.timeline-toolbar .btn-select-view .btn-group {
  height: 100%;
  border: 1px solid #dbdbdb;
  border-radius: 4px;
}

.timeline-toolbar .btn-select-view button {
  border-color: transparent;
  line-height: 1.33;
}

.timeline-toolbar .btn-select-view .dropdown-item:hover {
  color: #fff;
  cursor: pointer;
}

.timeline-toolbar .toolbar-right * {
  -webkit-user-select: none;
  user-select: none;
}

.timeline-toolbar .btn-switch-group {
  position: relative;
  display: inline-block;
}

.timeline-toolbar .btn-switch-icon {
  cursor: pointer;
  color: rgb(77, 77, 77);
  vertical-align: middle;
  display: inline-block;
  width: 26px;
  height: 26px;
  line-height: 26px;
  text-align: center;
  background-color: #fff;
  border-bottom: 1px solid #dbdbdb;
  border-top: 1px solid #dbdbdb;
}

.timeline-toolbar .btn-switch-icon:first-child {
  border-left: 1px solid #dbdbdb;
  border-radius: 3px 0 0 3px;
}

.timeline-toolbar .btn-switch-icon:last-child {
  border-right: 1px solid #dbdbdb;
  border-radius: 0 3px 3px 0;
}

.timeline-toolbar .btn-switch-icon:hover {
  background-color: #3b88fd;
  color: #ffffff;
}

.timeline-toolbar .btn-switch-icon i {
  display: inline-block;
  transform: scale(0.7);
}

.timeline-toolbar .btn-switch-split-line {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -1px;
  width: 1px;
  height: 26px;
  background: #dbdbdb;
}

.timeline-toolbar .btn-today {
  height: 26px;
  padding: 0 6px;
  display: inline-block;
  font-size: 14px;
  border-radius: 4px;
  line-height: 24px;
  cursor: pointer;
  background-color: #fff;
  vertical-align: middle;
  margin-right: 5px;
  margin-left: 5px;
  border: 1px solid #dbdbdb;
}

.timeline-toolbar .btn-today:hover {
  background-color: #3b88fd;
  border: 1px solid #3b88fd;
  color: #ffffff;
}

.timeline-toolbar .btn-today.btn-today-disabled {
  background: rgba(59, 136, 253, .5);
  border-color: rgba(59, 136, 253, .5);
  color: #fff;
  cursor: default;
}

/* left-pane-wrapper */
.timeline-container .left-pane-wrapper {
  height: 100%;
  box-shadow: rgba(136, 136, 136, 0.3) 5px 0px 5px -2px;
  background-color: #fff;
}

/* column manager */
.timeline-column-setting-item {
  position: relative;
  font-size: 14px;
  height: 30px;
  line-height: 30px;
  display: flex;
  padding: 0 20px;
  border-radius: 4px;
}

.timeline-column-setting-item:hover {
  background: #f0f0f0;
}

.timeline-column-setting-item.column-can-drop {
  background: #e9e9e9;
}

.timeline-column-setting-item .drag-column-handle {
  color: #c2c2c2;
  font-size: 14px;
  cursor: grab;
}

.timeline-column-setting-item .timeline-switch {
  padding-left: 10px;
}

/* timeline-header */
.timeline-header {
  position: absolute;
  top: 0;
  left: 0;
  border-bottom: 1px solid #e2e2e2;
}

.timeline-header * {
  -webkit-user-select: none;
  user-select: none;
}

.timeline-header .header-years {
  position: relative;
  display: inline-flex;
  align-items: center;
  height: 36px;
}

.timeline-header .year-item,
.timeline-header .week-date-item,
.timeline-header .date-item {
  display: flex;
  flex-direction: column;
}

.timeline-header .year-item {
  font-size: 16px;
}

.timeline-header .year-item .month {
  display: flex;
  align-content: center;
}

.timeline-header .date-item {
  width: 40px;
  font-size: 14px;
}

.timeline-header .header-days,
.timeline-header .header-days-range,
.timeline-header .header-year-months {
  position: relative;
  display: inline-flex;
  align-items: flex-end;
  height: 32px;
  padding-bottom: 10px;
  margin-top: 17px;
}

.timeline-header .header-days-range .days-range-item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.timeline-header .header-days .week {
  height: 26px;
  color: #212529;
  line-height: 1;
}

.timeline-header .header-days .day,
.timeline-header .header-year-months .month {
  display: flex;
  align-items: center;
  justify-content: center;
}

.timeline-header .header-days .day {
  color: #666;
  line-height: 1;
}

.timeline-header .today-mark {
  position: absolute;
  top: 23px;
  width: 7px;
  height: 6px;
  background-color: #3b88fd;
}

.timeline-header .today-mark::after {
  content: '';
  position: absolute;
  top: 6px;
  left: 0;
  border-top: 3px solid #3b88fd;
  border-left: 3.5px solid transparent;
  border-bottom: 3px solid transparent;
  border-right: 3.5px solid transparent;
}

.timeline-container .no-events {
  display: flex;
  align-items: center;
  justify-content: center;
}

.timeline-viewport,
.timeline-group-viewport {
  position: relative;
  height: 100%;
}

/* viewport-left */
.timeline-viewport-left {
  min-width: 180px;
  height: 100%;
}

.viewport-left-header {
  max-height: 85px;
}

.viewport-left-header-content {
  height: 85px;
}

.canvas-left-wrapper {
  padding-bottom: 200px;
}

.canvas-left-wrapper::-webkit-scrollbar {
  display: none;
  width: 0;
  height: 0;
}

.timeline-viewport-left .group-item-left {
  -webkit-user-select: none;
  user-select: none;
}

.timeline-viewport-left .group-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #e2e2e2;
  padding: 0 .25rem 0 1rem;
  position: relative;
  z-index: 1;
}

.timeline-row {
  position: relative;
  overflow: hidden;
  white-space: nowrap;
  border-bottom: 1px solid #e2e2e2;
}

.timeline-header-row {
  border-top: 1px solid #e2e2e2;
}

.timeline-viewport-left .group-item-left-rows {
  padding-left: 1rem;
  border-bottom: 1px solid #e2e2e2;
}

.timeline-viewport-left .group-header .rows-count {
  margin-left: .5rem;
  font-size: 12px;
  color: #999;
}

.timeline-viewport-left .group-header .btn-group-expand {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 18px;
  height: 18px;
  cursor: pointer;
}

.timeline-viewport-left .group-header .group-expand-icon {
  display: inline-block;
  font-size: 12px;
  color: #949494;
  transform: scale(.8);
}

.timeline-viewport-left .timeline-event-cell {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 0 1rem;
}

.timeline-viewport-left .group-item-left-rows .timeline-row:last-child {
  border: none;
}

.timeline-day-view,
.timeline-week-view,
.timeline-month-view,
.timeline-quarter-view,
.timeline-year-view {
  height: 100%;
}

.timeline-container .right-pane-wrapper {
  height: 100%;
}

/* viewport-right */
.timeline-viewport-right {
  position: relative;
  height: 100%;
  padding-top: 85px;
  overflow-y: hidden;
  overflow-x: auto;
}

.timeline-viewport-right .group-header {
  border-bottom: 1px solid #e2e2e2;
}

.timeline-viewport-right .canvas-right,
.timeline-viewport-right .group-canvas-right {
  position: relative;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}

.timeline-viewport-right .group-canvas-right {
  padding-bottom: 200px;
}

.timeline-container .events-content {
  height: 100%;
  overflow: hidden;
  background-color: #fff;
}

.timeline-container .today-mark-line {
  position: absolute;
  content: '';
  width: 1px;
  background-color: #3b88fd;
}

.timeline-container .events-bg,
.timeline-container .events-rows {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}

.timeline-container .canvas-right .events-bg,
.timeline-container .canvas-right .events-rows {
  padding-bottom: 200px;
}

.timeline-date-bg {
  height: 100%;
}

.timeline-date-bg.sun-or-sat-day {
  background-color: rgba(245, 245, 245, 0.7);
}

.timeline-date-bg.end-of-range {
  border-right: 1px solid #e2e2e2;
}

/* timeline-event-cell */
.timeline-viewport-right .timeline-event-cell {
  position: absolute;
  height: 100%;
  padding: 4px 0;
  cursor: pointer;
}

.timeline-viewport-right .timeline-event-cell.can-changed {
  cursor: grab;
}

.timeline-viewport-right .timeline-event-cell .timeline-event-cell-drag-left-line,
.timeline-viewport-right .timeline-event-cell .timeline-event-cell-drag-right-line {
  width: 6px;
  height: 15px;
  position: absolute;
  top: 8px;
  background-color: transparent;
  border-radius: 1px;
  cursor: col-resize;
  display: none;
}

.timeline-viewport-right .timeline-event-cell-drag-left-line .timeline-event-cell-drag-bg,
.timeline-viewport-right .timeline-event-cell-drag-right-line .timeline-event-cell-drag-bg {
  width: 2px;
  height: 100%;
  opacity: .7;
  border-radius: 2px;
}

.timeline-viewport-right .timeline-event-cell:hover .timeline-event-cell-drag-left-line,
.timeline-viewport-right .timeline-event-cell:hover .timeline-event-cell-drag-right-line {
  display: block;
}

.timeline-viewport-right .timeline-event-cell .timeline-event-cell-drag-left-line {
  left: 0px;
  padding-left: 2px;
}

.timeline-viewport-right .timeline-event-cell .timeline-event-cell-drag-right-line {
  right: 0px;
  padding-left: 2px;
}

.timeline-viewport-right .timeline-event-cell.old-position {
  opacity: .7;
}

.timeline-viewport-right .timeline-event-cell.next-position .grid-cell-type-single-select {
  border: 1px dashed #aaa;
}

.timeline-viewport-right .group-item-right {
  position: relative;
}

.timeline-viewport-right .group-item-right .group-header-event-cell {
  position: absolute;
  display: flex;
  align-items: center;
  height: 100%;
}

.timeline-viewport-right .group-item-right .timeline-group-indicator {
  width: 100%;
  height: 6px;
  border-radius: 1px;
  background-color: rgb(218, 221, 225);
}

.timeline-event-cell .cell-formatter {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.grid-cell-type-single-select {
  padding: 0 10px;
  border-radius: 4px;
}

.timeline-event-cell .cell-formatter span {
  width: 100%;
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 14px;
}

.timeline-popover {
  box-shadow: 0 1px 3px 0 rgba(0,0,0,.1);
  border: 1px solid #dedede;
  filter: none;
}

.timeline-export-container {
  position: absolute;
  top: 99999px;
  left: 99999px;
}

.timeline-export-container,
.timeline-export-container .viewport {
  display: flex;
}

.timeline-export-container .timeline-viewport-right,
.timeline-export-container .canvas-right {
  overflow: unset !important;
}

.timeline-export-container .timeline-grid-view,
.timeline-export-container .left-pane-wrapper {
  display: flex;
}

.timeline-export-container .left-pane-wrapper {
  border-right: 2px solid rgba(77,77,77,0.3);
}

.timeline-export-container .timeline-header {
  position: unset;
}

.timeline-export-container .timeline-viewport-right {
  padding-top: 0;
  margin-left: 0 !important;
}

.timeline-export-container .events-bg {
  position: unset;
}

.group-item-right .events-rows .timeline-row {
  border-bottom: none;
}

.timeline-export-container .dtable-ui.link-formatter .link-item .link-name,
.timeline-export-container .dtable-ui.cell-formatter-container {
  position: relative;
  z-index: 1;
}

/* rc-calendar */
.timeline-date-range-calendar .rc-calendar-selected-day .rc-calendar-date,
.timeline-date-range-calendar .rc-calendar-month-panel-selected-cell,
.timeline-date-range-calendar .rc-calendar-year-panel-selected-cell {
  color: #fff;
}

.timeline-date-range-calendar .rc-calendar-selected-day .rc-calendar-date,
.timeline-date-range-calendar .rc-calendar-month-panel-selected-cell .rc-calendar-month-panel-month,
.timeline-date-range-calendar .rc-calendar-year-panel-selected-cell .rc-calendar-year-panel-year {
  background-color: #3b88fd;
}

.timeline-date-range-calendar .rc-calendar-today .rc-calendar-date,
.timeline-date-range-calendar .rc-calendar-selected-day .rc-calendar-date {
  border-color: #3b88fd;
}

.timeline-date-range-calendar .rc-calendar-selected-day .rc-calendar-date:hover,
.timeline-date-range-calendar .rc-calendar-month-panel-selected-cell .rc-calendar-month-panel-month:hover,
.timeline-date-range-calendar .rc-calendar-year-panel-selected-cell .rc-calendar-year-panel-year:hover {
  background-color: #3b88fd;
}

.timeline-date-range-calendar .rc-calendar-date:hover,
.timeline-date-range-calendar .rc-calendar-month-panel-month:hover,
.timeline-date-range-calendar .rc-calendar-year-panel-year:hover {
  background-color: rgba(59, 136, 253, .1);
}

.timeline-date-range-calendar .rc-calendar-range-middle {
  margin-left: -6px;
}

/* export select date range */
.timeline-export-select-date-range .selected-date-range {
  display: flex;
  align-items: center;
  width: 100%;
  border: 1px solid hsl(0,0%,80%);;
  border-radius: 4px;
  overflow: hidden;
}

.timeline-export-select-date-range .selected-date-range>span {
  display: inline-block;
  width: 100%;
  height: 36px;
}

.timeline-export-select-date-range .ant-calendar-picker-input {
  width: 100%;
  height: 100%;
  padding: 0 8px;
  border: none;
}

.timeline-export-select-date-range .btn.disabled:hover {
  cursor: default;
}

.timeline-grid-cell {
  padding: 0 8px;
  font-weight: 400;
  border-left: 1px solid #ddd;
  font-size: 14px;
  line-height: 1;
  color: #212529;
}

.timeline-grid-cell.first-cell {
  border: 0;
}

.timeline-grid-cell .link-formatter {
  display: inline-flex;
  min-height: 20px;
  width: 100%;
}

.timeline-grid-cell .link-formatter .link-item {
  height: 20px;
  margin: 0 4px 0 0;
  max-width: 100%;
  padding: 0 2px;
  align-items: center;
  background: #eceff4;
  border-radius: 3px;
  cursor: pointer;
  display: inline-flex;
  font-size: 13px;
  vertical-align: middle;
}

.timeline-grid-cell .link-formatter .link-item:last-child {
  margin-right: 0;
}

.timeline-column-icon {
  font-size: 14px;
  color: #aaa;
}

.timeline-column-manager-btn {
  height: 29px;
  background-color: #f0f0f0;
  color: #212529;
  border: none;
}

.timeline-column-manager-menu {
  min-width: 255px;
}

.timeline-column-manager-menu .no-column-tips {
  color: #555;
  opacity: .5;
}

.timeline-column-manager-columns {
  max-height: 340px;
  overflow-y: auto;
}

#timeline-export-container .timeline-column-manager-btn {
  visibility: hidden;
}

/* display as swimlane */
.timeline-group-viewport.is-swimlane .viewport-left-header {
  border-bottom: 1px solid #e2e2e2;
}

.timeline-group-viewport.is-swimlane .timeline-viewport-left .group-header {
  border-bottom-color: transparent;
}

.timeline-group-viewport.is-swimlane .group-item-left:not(.expanded) .group-header {
  border-bottom: 1px solid #e2e2e2;
}

.timeline-group-viewport.is-swimlane .group-item-left-rows .timeline-row {
  border-bottom: none;
}

.timeline-group-viewport.is-swimlane .events-bg .timeline-row {
  border-bottom: none;
}

.timeline-group-viewport.is-swimlane .group-item-right {
  border-bottom: 1px solid #e2e2e2;
}

.plugin-timeline .custom-switch-description {
  color: #212529;
}
