.dtable-plugin.plugin-container {
  width: 90%;
  max-width: 1398px;
  position: absolute;
  margin-left: 50%;
  transform: translateX(-50%) !important;
  top: 0;
  bottom: 0;
}

.plugin-container .plugin-header {
  align-items: center;
  padding: 0 1rem;
}

.plugin-container .modal-title {
  display: flex;
  flex: 1;
  height: 100%;
}

.plugin-container .logo-title {
  width: calc(180px - 1rem);
  padding: 10px 0;
}

.plugin-container .modal-title .plugin-logo {
  width: 24px;
  height: 24px;
  margin-right: 10px;
}

.plugin-container .timeline-views-tabs {
  flex: 1;
  height: 100%;
  font-size: 14px;
  font-weight: 500;
  overflow: hidden;
}

.plugin-container .views-tabs-scroll {
  overflow-x: scroll;
  overflow-y: hidden;
}

.plugin-container .views-tabs-scroll::-webkit-scrollbar {
  display: none;
  width: 0;
  height: 0;
}

.plugin-container .timeline-views-tabs .views {
  height: 100%;
}

.plugin-container .view-item {
  height: 100%;
  padding: 0 16px;
  flex: 1 0 auto;
}

.plugin-container .view-item .view-item-content {
  width: 100%;
  height: 100%;
  border-bottom: 2px solid transparent;
  color: #999;
}

.plugin-container .view-item .view-item-content:hover {
  border-color: #3b88fd;
  color: #444;
  cursor: pointer;
}

.plugin-container .view-item.active .view-item-content {
  border-color: #3b88fd;
  color: #444;
  cursor: default;
}

.plugin-container .btn-view-dropdown {
  width: 20px;
  height: 20px;
  margin-left: 5px;
  margin-right: -5px;
  line-height: 20px;
  cursor: pointer;
}

.plugin-container .btn-view-dropdown .dtable-icon-drop-down {
  display: inline-block;
  height: 18px;
  font-size: 12px;
  color: #949494;
  transform: scale(.8);
  transition: all .1s;
}

.plugin-container .btn-view-dropdown:hover .dtable-icon-drop-down {
  color: #aaa;
}

.plugin-container .btn-add-view {
  width: 24px;
  height: 100%;
}

.plugin-container .btn-add-view .dtable-icon-add-table {
  height: 24px;
  width: 24px;
  text-align: center;
  cursor: pointer;
  color: #000;
  opacity: 0.5;
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
}

.plugin-container .modal-content {
  height: 100%;
  overflow: hidden;
}

.plugin-container .plugin-body {
  padding: 0;
  overflow: hidden;
  background-color: #fff;
}

.plugin-container .header-btn-list {
  width: 24px;
  height: 100%;
}

.plugin-container .btn-close {
  height: 24px;
  width: 24px;
  text-align: center;
  cursor: pointer;
  color: #000;
  opacity: 0.5;
  font-weight: 700;
}