.timeline-row-expand {
  color: #212529;
}

.timeline-row-expand .row-name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: bold;
}

.timeline-row-expand .cells {
  width: 100%;
  height: 32px;
  margin-top: .5rem;
  padding: .25rem 0;
  overflow-x: scroll;
  overflow-y: hidden;
}

.timeline-row-expand .cell-item {
  flex: 1 0 auto;
  padding: 0 1.5rem;
}

.timeline-row-expand .cell-item:first-child {
  padding-left: 0;
}

.timeline-row-expand .row-cell-empty {
  height: 8px;
  width: 20px;
  background-color: #f1f1f1;
  border-radius: 4px;
}

.timeline-row-expand .cell-item .column-name {
  margin-right: .25rem;
  color: #999;
  line-height: 1;
}

.timeline-row-expand .checkbox-formatter {
  display: flex;
}