.plugin-timeline-setting {
  top: 0;
  right: 0;
  width: 300px;
  height: 100%;
  box-shadow: 0px 2px 10px 3px rgba(0, 0, 0, 0.2);
  overflow: auto;
  background: #fff;
}

.plugin-timeline-setting .setting-container {
  padding: 10px;
}

.plugin-timeline-setting .setting-header {
  padding: 0 10px 1rem;
}

.plugin-timeline-setting .setting-header-title {
  flex: 1;
  padding: 10px 0;
  font-size: 1rem;
  font-weight: 700;
  border-bottom: 1px solid #e2e2e2;
}

.plugin-timeline-setting .btn-close {
  margin-right: -4px;
}

.plugin-timeline-setting .setting-body {
  padding: 0 10px;
}

.plugin-timeline-setting .setting-item {
  margin-bottom: 14px;
}

.plugin-timeline-setting .setting-item .title {
  margin-bottom: 10px;
}

.plugin-timeline-setting .split-line {
  width: 100%;
  height: 1px;
  margin-bottom: 14px;
  background-color: #e2e2e2;
}