.timeline-container {
  height: 100%;
}

.timeline-container .left-pane-wrapper {
  left: 0;
  top: 0;
  width: 180px;
  height: 100%;
  box-shadow: rgba(136, 136, 136, 0.3) 5px 0px 5px -2px;
}

.timeline-toolbar {
  height: 36px;
  padding: 6px;
}

.timeline-toolbar .toggle-drawer-btn {
  height: 24px;
  width: 24px;
  text-align: center;
  cursor: pointer;
  color: #000;
  opacity: 0.5;
  font-weight: 700;
 }

.timeline-toolbar .current-date {
  margin-left: 10px;
  font-size: 16px;
  color: #333;
}

.timeline-toolbar .btn-select-view {
  width: 42px;
  height: 26px;
  margin-right: 5px;
}

.timeline-toolbar .btn-select-view button {
  color: #666;
  border-color: transparent;
}

.timeline-toolbar .toolbar-right * {
  -webkit-user-select: none;
  user-select: none;
}

.timeline-toolbar .btn-switch-group {
  position: relative;
  display: inline-block;
}

.timeline-toolbar .btn-switch-icon {
  cursor: pointer;
  color: rgb(77, 77, 77);
  vertical-align: middle;
  display: inline-block;
  width: 26px;
  height: 26px;
  line-height: 26px;
  text-align: center;
  background-color: #fff;
  border-bottom: 1px solid #dbdbdb;
  border-top: 1px solid #dbdbdb;
}

.timeline-toolbar .btn-switch-icon:first-child {
  border-left: 1px solid #dbdbdb;
  border-radius: 3px 0 0 3px;
}

.timeline-toolbar .btn-switch-icon:last-child {
  border-right: 1px solid #dbdbdb;
  border-radius: 0 3px 3px 0;
}

.timeline-toolbar .btn-switch-icon:hover {
  background-color: #3b88fd;
  color: #ffffff;
}

.timeline-toolbar .btn-switch-icon i {
  display: inline-block;
  transform: scale(0.7);
}

.timeline-toolbar .btn-switch-split-line {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -1px;
  width: 1px;
  height: 26px;
  background: #dbdbdb;
}

.timeline-toolbar .btn-today {
  height: 26px;
  padding: 0 6px;
  display: inline-block;
  font-size: 14px;
  border-radius: 4px;
  line-height: 24px;
  cursor: pointer;
  background-color: #fff;
  vertical-align: middle;
  margin-right: 5px;
  margin-left: 5px;
  border: 1px solid #dbdbdb;
  color: rgb(77, 77, 77);
}

.timeline-toolbar .btn-today:hover {
  background-color: #3b88fd;
  border: 1px solid #3b88fd;
  color: #ffffff;
}

.timeline-toolbar .btn-today.btn-today-disabled {
  background: rgba(59, 136, 253, .5);
  border-color: rgba(59, 136, 253, .5);
  color: #fff;
  cursor: default;
}

.timeline-header * {
  -webkit-user-select: none;
  user-select: none;
}

.timeline-header .header-days-range {
  height: 26px;
  font-size: 14px;
  color: #444;
  line-height: 1;
}

.timeline-header .header-days {
  height: 24px;
  padding-bottom: 10px;
  font-size: 14px;
  color: #666;
  line-height: 1;
  border-bottom: 1px solid #e2e2e2;
}

.header-days-range .days-range-week,
.header-days .day-item {
  width: 40px;
}

.header-days .today-mark {
  top: 15px;
  width: 7px;
  height: 6px;
  background-color: #3b88fd;
}

.header-days .today-mark::after {
  content: '';
  position: absolute;
  top: 6px;
  left: 0;
  border-top: 3px solid #3b88fd;
  border-left: 3.5px solid transparent;
  border-bottom: 3px solid transparent;
  border-right: 3.5px solid transparent;
}

.header-days-range .days-range-week {
  font-size: 14px;
  color: #444;
}

.header-days .day-item {
  font-size: 14px;
  color: #666;
}

.left-pane-wrapper .blank-zone {
  width: 100%;
  height: 86px;
  border-bottom: 1px solid #e2e2e2;
}

.timeline-row {
  border-bottom: 1px solid #e2e2e2;
}

.viewport-left {
  height: calc(100% - 86px);
  padding-bottom: 50px;
  overflow-y: auto;
}

.viewport-left::-webkit-scrollbar {
  display: none;
  width: 0;
  height: 0;
}

.viewport-left .timeline-event-cell {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 0 1rem;
}

.timeline-month-view {
  height: 100%;
  overflow-y: hidden;
  overflow-x: auto;
}

.timeline-container .right-pane-wrapper {
  height: 100%;
}

.viewport-right {
  height: calc(100% - 86px);
  overflow-y: auto;
}

.viewport-right .events-content {
  height: 100%;
  overflow: hidden;
  background-color: #fff;
}

.viewport-right .no-events {
  width: 100%;
  min-height: 400px;
}

.today-mark-line {
  content: '';
  width: 1px;
  background-color: #3b88fd;
}

.viewport-right .events-bg,
.viewport-right .events-rows {
  left: 0;
  top: 0;
  width: 100%;
}

.viewport-right .events-rows {
  padding-bottom: 50px;
}

.timeline-day-bg {
  display: inline-flex;
  height: 100%;
}

.timeline-day-bg.sun-or-sat-day {
  background-color: rgba(245, 245, 245, 0.7);
}

.grid-cell-type-single-select {
  top: 50%;
  margin-top: -18px;
  padding: 4px 10px;
  height: 36px;
  border-radius: 4px;
}

.grid-cell-type-single-select span {
  width: 100%;
  height: 28px;
  line-height: 28px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 14px;
  cursor: default;
}