.timeline-container {
  height: 100%;
}

.timeline-container .left-pane-wrapper {
  left: 0;
  top: 0;
  width: 180px;
  height: 100%;
  box-shadow: rgba(136, 136, 136, 0.3) 5px 0px 5px -2px;
}

.timeline-toolbar .toolbar-left,
.timeline-toolbar .toolbar-right {
  top: 0;
  padding: 6px;
  background-color: #fff;
}

.timeline-toolbar .toolbar-left {
  left: 0;
}

.timeline-toolbar .toolbar-right {
  right: 0;
  height: 36px;
}

.timeline-toolbar .toggle-drawer-btn {
  height: 24px;
  width: 24px;
  text-align: center;
  cursor: pointer;
  color: #000;
  opacity: 0.5;
  font-weight: 700;
 }

.timeline-toolbar .dropdown-menu {
  min-width: 80px;
}

.timeline-toolbar .btn-select-view {
  height: 26px;
  margin-right: 5px;
}

.timeline-toolbar .btn-select-view .btn-group {
  height: 100%;
  border: 1px solid #dbdbdb;
  border-radius: 4px;
}

.timeline-toolbar .btn-select-view button {
  color: #666;
  border-color: transparent;
}

.timeline-toolbar .toolbar-right * {
  -webkit-user-select: none;
  user-select: none;
}

.timeline-toolbar .btn-switch-group {
  position: relative;
  display: inline-block;
}

.timeline-toolbar .btn-switch-icon {
  cursor: pointer;
  color: rgb(77, 77, 77);
  vertical-align: middle;
  display: inline-block;
  width: 26px;
  height: 26px;
  line-height: 26px;
  text-align: center;
  background-color: #fff;
  border-bottom: 1px solid #dbdbdb;
  border-top: 1px solid #dbdbdb;
}

.timeline-toolbar .btn-switch-icon:first-child {
  border-left: 1px solid #dbdbdb;
  border-radius: 3px 0 0 3px;
}

.timeline-toolbar .btn-switch-icon:last-child {
  border-right: 1px solid #dbdbdb;
  border-radius: 0 3px 3px 0;
}

.timeline-toolbar .btn-switch-icon:hover {
  background-color: #3b88fd;
  color: #ffffff;
}

.timeline-toolbar .btn-switch-icon i {
  display: inline-block;
  transform: scale(0.7);
}

.timeline-toolbar .btn-switch-split-line {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -1px;
  width: 1px;
  height: 26px;
  background: #dbdbdb;
}

.timeline-toolbar .btn-today {
  height: 26px;
  padding: 0 6px;
  display: inline-block;
  font-size: 14px;
  border-radius: 4px;
  line-height: 24px;
  cursor: pointer;
  background-color: #fff;
  vertical-align: middle;
  margin-right: 5px;
  margin-left: 5px;
  border: 1px solid #dbdbdb;
  color: rgb(77, 77, 77);
}

.timeline-toolbar .btn-setting {
  height: 26px;
  width: 26px;
  text-align: center;
  cursor: pointer;
  border: 1px solid #dbdbdb;
  border-radius: 4px;
}

.timeline-toolbar .btn-setting:hover {
  background-color: #f6f6f6;
}

.timeline-toolbar .btn-setting .dtable-icon-settings {
  font-size: 14px;
  vertical-align: middle;
  color: rgba(0, 0, 0, .5);
}

.timeline-toolbar .btn-today:hover {
  background-color: #3b88fd;
  border: 1px solid #3b88fd;
  color: #ffffff;
}

.timeline-toolbar .btn-today.btn-today-disabled {
  background: rgba(59, 136, 253, .5);
  border-color: rgba(59, 136, 253, .5);
  color: #fff;
  cursor: default;
}

.timeline-header {
  border-bottom: 1px solid #e2e2e2;
}

.timeline-header * {
  -webkit-user-select: none;
  user-select: none;
}

.timeline-header .header-years {
  height: 36px;
}

.timeline-header .year-item {
  font-size: 16px;
}

.timeline-header .header-days {
  height: 50px;
  padding-bottom: 10px;
  border-bottom: 1px solid #e2e2e2;
}

.timeline-header .date-item {
  width: 40px;
  font-size: 14px;
}

.timeline-header .header-days-range .days-range-item {
  justify-content: flex-start !important;
}

.timeline-header .header-days .week {
  height: 26px;
  color: #444;
  line-height: 1;
}

.timeline-header .header-days .day {
  color: #666;
  line-height: 1;
}

.timeline-header .header-days-range,
.timeline-header .header-year-months {
  height: 32px;
  padding-bottom: 10px;
}

.timeline-header .today-mark {
  top: 41px;
  width: 7px;
  height: 6px;
  background-color: #3b88fd;
}

.timeline-header .today-mark::after {
  content: '';
  position: absolute;
  top: 6px;
  left: 0;
  border-top: 3px solid #3b88fd;
  border-left: 3.5px solid transparent;
  border-bottom: 3px solid transparent;
  border-right: 3.5px solid transparent;
}

.left-pane-wrapper .blank-zone {
  width: 100%;
  border-bottom: 1px solid #e2e2e2;
}

.timeline-row {
  overflow: hidden;
  white-space: nowrap;
  border-bottom: 1px solid #e2e2e2;
}

.timeline-viewport-left {
  padding-bottom: 50px;
  overflow-y: auto;
  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none;
}

.timeline-viewport-left::-webkit-scrollbar {
  display: none;
  width: 0;
  height: 0;
}

.timeline-viewport-left .timeline-event-cell {
  width: 100%;
  height: 100%;
  padding: 0 1rem;
}

.timeline-day-view,
.timeline-month-view,
.timeline-year-view {
  height: 100%;
}

.timeline-container .right-pane-wrapper {
  height: 100%;
}

.timeline-container .timeline-viewport-right {
  height: 100%;
  overflow-y: hidden;
  overflow-x: auto;
}

.timeline-container .timeline-viewport-right .canvas-right {
  overflow-y: auto;
  overflow-x: hidden;
}

.timeline-container .timeline-viewport-right .events-content {
  height: 100%;
  overflow: hidden;
  background-color: #fff;
}

.timeline-container .timeline-viewport-right .no-events {
  width: 100%;
  height: 100%;
}

.timeline-container .today-mark-line {
  content: '';
  width: 1px;
  background-color: #3b88fd;
}

.timeline-container .timeline-viewport-right .events-bg,
.timeline-container .timeline-viewport-right .events-rows {
  left: 0;
  top: 0;
  width: 100%;
}

.timeline-container .timeline-viewport-right .events-rows {
  padding-bottom: 50px;
}

.timeline-date-bg {
  height: 100%;
}

.timeline-date-bg.sun-or-sat-day {
  background-color: rgba(245, 245, 245, 0.7);
}

.timeline-date-bg.end-of-range {
  border-right: 1px solid #e2e2e2;
}

/* timeline-event-cell */
.timeline-container .timeline-viewport-right .timeline-event-cell {
  position: absolute;
  height: 100%;
  padding: 4px 0;
  cursor: pointer;
}

.timeline-event-cell .cell-formatter {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.grid-cell-type-single-select {
  padding: 0 10px;
  border-radius: 4px;
}

.timeline-event-cell .cell-formatter span {
  width: 100%; 
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 14px;
}

.timeline-popover {
  min-width: 95px;
  max-width: 332px;
}